page {
  --cl-main: #007aff;
  --cl-sub: #4cd964;
  --cl-g1: #111;
  --cl-g2: #222;
  --cl-g3: #333;
  --cl-g4: #444;
  --cl-g5: #555;
  --cl-g6: #666;
  --cl-g7: #777;
  --cl-g8: #888;
  --cl-g9: #999;
}
